/**
 * Form Block - Backend Styles
 */
.wp-block-rtsc-sf-form {
    padding: 1em;
    background-color: #eee;

    .rtsc__inner__form {   
        .block-editor-block-list__layout {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding: 1em;
            border: 1px solid #e5e5e5;
        }

        .rtsc__inner__form__field {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5em;

            label {
                display: inline-flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-weight: 400;
                text-box-trim: trim-start;
            }
        }
    }
}
